# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import datetime as dt

In [5]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\melvi\anaconda3\lib\site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: lxml in c:\users\melvi\anaconda3\lib\site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\melvi\anaconda3\lib\site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\melvi\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\melvi\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\melvi\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\melvi\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\melvi\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\melvi\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\melvi\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\melvi\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
start = dt.datetime(2015, 1, 1) #start date set as year month day

end = dt.datetime.today() #end date set as today


start

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [22]:
stocks = ['AAPL', 'TSLA', 'IBM', 'MSFT'] #stocks with their symbols, used Microsoft instead of LinkedIn since it acquired Linkedin i.e. LinkedIn is no longer public

### Step 4. Read the data from google, assign to df and print it

In [23]:
df = web.DataReader(stocks, 'yahoo', start, end) #according to research google feature is no longer available thus the use of yahoo
df

Attributes   Adj Close                                           Close  \
Symbols           AAPL        TSLA         IBM        MSFT        AAPL
Date
2015-01-02   24.603207   14.620667  109.477036   40.811436   27.332500
2015-01-05   23.910095   14.006000  107.754410   40.436131   26.562500
2015-01-06   23.912344   14.085333  105.430603   39.842640   26.565001
2015-01-07   24.247650   14.063333  104.741508   40.348843   26.937500
2015-01-08   25.179302   14.041333  107.018082   41.535847   27.972500
...                ...         ...         ...         ...         ...
2022-11-14  148.279999  190.949997  144.199997  240.871185  148.279999
2022-11-15  150.039993  194.419998  144.339996  241.290009  150.039993
2022-11-16  148.789993  186.919998  144.520004  241.729996  148.789993
2022-11-17  150.720001  183.169998  146.089996  241.679993  150.720001
2022-11-18  151.289993  180.190002  147.639999  241.220001  151.289993

Attributes                                            High              ...  \
Symbols           TSLA         IBM        MSFT        AAPL        TSLA  ...
Date                                                                    ...
2015-01-02   14.620667  154.933075   46.759998   27.860001   14.883333  ...
2015-01-05   14.006000  152.495224   46.330002   27.162500   14.433333  ...
2015-01-06   14.085333  149.206497   45.650002   26.857500   14.280000  ...
2015-01-07   14.063333  148.231354   46.230000   27.049999   14.318667  ...
2015-01-08   14.041333  151.453156   47.590000   28.037500   14.253333  ...
...                ...         ...         ...         ...         ...  ...
2022-11-14  190.949997  144.199997  241.550003  150.279999  195.729996  ...
2022-11-15  194.419998  144.339996  241.970001  153.589996  200.820007  ...
2022-11-16  186.919998  144.520004  241.729996  149.869995  192.570007  ...
2022-11-17  183.169998  146.089996  241.679993  151.479996  186.160004  ...
2022-11-18  180.190002  147.639999  241.220001  152.699997  185.190002  ...

Attributes         Low                    Open                          \
Symbols            IBM        MSFT        AAPL        TSLA         IBM
Date
2015-01-02  153.919693   46.540001   27.847500   14.858000  154.216064
2015-01-05  152.189301   46.250000   27.072500   14.303333  154.177826
2015-01-06  148.346085   45.540001   26.635000   14.004000  152.648178
2015-01-07  147.256210   45.490002   26.799999   14.223333  150.286804
2015-01-08  148.709366   46.720001   27.307501   14.187333  149.369019
...                ...         ...         ...         ...         ...
2022-11-14  142.179993  239.210007  148.970001  192.770004  142.630005
2022-11-15  142.000000  240.029999  152.220001  195.880005  144.080002
2022-11-16  144.009995  240.419998  149.130005  191.509995  144.130005
2022-11-17  143.250000  237.630005  146.429993  183.960007  143.410004
2022-11-18  145.940002  239.029999  152.309998  185.050003  146.559998

Attributes                   Volume
Symbols           MSFT         AAPL        TSLA        IBM        MSFT
Date
2015-01-02   46.660000  212818400.0  71466000.0  5779673.0  27913900.0
2015-01-05   46.369999  257142000.0  80527500.0  5104898.0  39673900.0
2015-01-06   46.380001  263188400.0  93928500.0  6429448.0  36447900.0
2015-01-07   45.980000  160423600.0  44526000.0  4918083.0  29114100.0
2015-01-08   46.750000  237458000.0  51637500.0  4431693.0  29645200.0
...                ...          ...         ...        ...         ...
2022-11-14  241.990005   73374100.0  92226600.0  5293500.0  31123300.0
2022-11-15  245.660004   89868300.0  91293800.0  4727100.0  31390100.0
2022-11-16  242.789993   64218300.0  66567600.0  3445200.0  24093300.0
2022-11-17  237.779999   80389400.0  64336000.0  3954000.0  23123500.0
2022-11-18  243.509995   74794600.0  75904900.0  4659700.0  27591800.0

[1986 rows x 24 columns]

### Step 5.  What is the type of structure of df ?

In [24]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [25]:
df.items #items of the data structure

<bound method DataFrame.items of Attributes   Adj Close                                           Close  \
Symbols           AAPL        TSLA         IBM        MSFT        AAPL
Date
2015-01-02   24.603207   14.620667  109.477036   40.811436   27.332500
2015-01-05   23.910095   14.006000  107.754410   40.436131   26.562500
2015-01-06   23.912344   14.085333  105.430603   39.842640   26.565001
2015-01-07   24.247650   14.063333  104.741508   40.348843   26.937500
2015-01-08   25.179302   14.041333  107.018082   41.535847   27.972500
...                ...         ...         ...         ...         ...
2022-11-14  148.279999  190.949997  144.199997  240.871185  148.279999
2022-11-15  150.039993  194.419998  144.339996  241.290009  150.039993
2022-11-16  148.789993  186.919998  144.520004  241.729996  148.789993
2022-11-17  150.720001  183.169998  146.089996  241.679993  150.720001
2022-11-18  151.289993  180.190002  147.639999  241.220001  151.289993

Attributes                                            High              ...  \
Symbols           TSLA         IBM        MSFT        AAPL        TSLA  ...
Date                                                                    ...
2015-01-02   14.620667  154.933075   46.759998   27.860001   14.883333  ...
2015-01-05   14.006000  152.495224   46.330002   27.162500   14.433333  ...
2015-01-06   14.085333  149.206497   45.650002   26.857500   14.280000  ...
2015-01-07   14.063333  148.231354   46.230000   27.049999   14.318667  ...
2015-01-08   14.041333  151.453156   47.590000   28.037500   14.253333  ...
...                ...         ...         ...         ...         ...  ...
2022-11-14  190.949997  144.199997  241.550003  150.279999  195.729996  ...
2022-11-15  194.419998  144.339996  241.970001  153.589996  200.820007  ...
2022-11-16  186.919998  144.520004  241.729996  149.869995  192.570007  ...
2022-11-17  183.169998  146.089996  241.679993  151.479996  186.160004  ...
2022-11-18  180.190002  147.639999  241.220001  152.699997  185.190002  ...

Attributes         Low                    Open                          \
Symbols            IBM        MSFT        AAPL        TSLA         IBM
Date
2015-01-02  153.919693   46.540001   27.847500   14.858000  154.216064
2015-01-05  152.189301   46.250000   27.072500   14.303333  154.177826
2015-01-06  148.346085   45.540001   26.635000   14.004000  152.648178
2015-01-07  147.256210   45.490002   26.799999   14.223333  150.286804
2015-01-08  148.709366   46.720001   27.307501   14.187333  149.369019
...                ...         ...         ...         ...         ...
2022-11-14  142.179993  239.210007  148.970001  192.770004  142.630005
2022-11-15  142.000000  240.029999  152.220001  195.880005  144.080002
2022-11-16  144.009995  240.419998  149.130005  191.509995  144.130005
2022-11-17  143.250000  237.630005  146.429993  183.960007  143.410004
2022-11-18  145.940002  239.029999  152.309998  185.050003  146.559998

Attributes                   Volume
Symbols           MSFT         AAPL        TSLA        IBM        MSFT
Date
2015-01-02   46.660000  212818400.0  71466000.0  5779673.0  27913900.0
2015-01-05   46.369999  257142000.0  80527500.0  5104898.0  39673900.0
2015-01-06   46.380001  263188400.0  93928500.0  6429448.0  36447900.0
2015-01-07   45.980000  160423600.0  44526000.0  4918083.0  29114100.0
2015-01-08   46.750000  237458000.0  51637500.0  4431693.0  29645200.0
...                ...          ...         ...        ...         ...
2022-11-14  241.990005   73374100.0  92226600.0  5293500.0  31123300.0
2022-11-15  245.660004   89868300.0  91293800.0  4727100.0  31390100.0
2022-11-16  242.789993   64218300.0  66567600.0  3445200.0  24093300.0
2022-11-17  237.779999   80389400.0  64336000.0  3954000.0  23123500.0
2022-11-18  243.509995   74794600.0  75904900.0  4659700.0  27591800.0

[1986 rows x 24 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [26]:
vol =df['Volume']
vol

Symbols            AAPL        TSLA        IBM        MSFT
Date
2015-01-02  212818400.0  71466000.0  5779673.0  27913900.0
2015-01-05  257142000.0  80527500.0  5104898.0  39673900.0
2015-01-06  263188400.0  93928500.0  6429448.0  36447900.0
2015-01-07  160423600.0  44526000.0  4918083.0  29114100.0
2015-01-08  237458000.0  51637500.0  4431693.0  29645200.0
...                 ...         ...        ...         ...
2022-11-14   73374100.0  92226600.0  5293500.0  31123300.0
2022-11-15   89868300.0  91293800.0  4727100.0  31390100.0
2022-11-16   64218300.0  66567600.0  3445200.0  24093300.0
2022-11-17   80389400.0  64336000.0  3954000.0  23123500.0
2022-11-18   74794600.0  75904900.0  4659700.0  27591800.0

[1986 rows x 4 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [33]:
vol['week'] = vol.index.week #creating an index column of weeks
vol['year'] = vol.index.year #creating an index column of years

week = vol.groupby(['week','year']).sum() #grouping week and year to get perfomance of each stock in agiven week in each year
week.head() #first 5 rows

C:\Users\melvi\AppData\Local\Temp\ipykernel_30192\2350122699.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  vol['week'] = vol.index.week
C:\Users\melvi\AppData\Local\Temp\ipykernel_30192\2350122699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vol['week'] = vol.index.week
C:\Users\melvi\AppData\Local\Temp\ipykernel_30192\2350122699.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vol['year'] = vol.index.year

Symbols            AAPL         TSLA         IBM         MSFT
week year
1    2015  2.128184e+08   71466000.0   5779673.0   27913900.0
     2016  1.375161e+09  314631000.0  26415265.0  232695500.0
     2017  4.153820e+08  428646000.0  12492901.0   86833000.0
     2018  5.446876e+08  445702500.0  32822330.0  127038100.0
     2019  9.927560e+08  733350000.0  21924996.0  156686800.0

### Step 9. Find all the volume traded in the year of 2015

In [35]:
del vol['week'] #deleting by week index xolumn
vol['year'] = vol.index.year #crea

year = vol.groupby(['year']).sum()
year

C:\Users\melvi\AppData\Local\Temp\ipykernel_30192\2122729858.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vol['year'] = vol.index.year

Symbols          AAPL          TSLA           IBM          MSFT
year
2015     5.226420e+10  1.632327e+10  1.156439e+09  9.059456e+09
2016     3.872991e+10  1.743543e+10  1.065462e+09  7.819727e+09
2017     2.724311e+10  2.385047e+10  1.120440e+09  5.631479e+09
2018     3.415614e+10  3.242458e+10  1.431515e+09  7.929137e+09
2019     2.825494e+10  3.462073e+10  9.904379e+08  6.194410e+09
2020     3.986386e+10  5.715874e+10  1.468958e+09  9.527877e+09
2021     2.281221e+10  2.070807e+10  1.402480e+09  6.555279e+09
2022     1.992115e+10  1.825929e+10  1.141473e+09  7.079530e+09

### BONUS: Create your own question and answer it.